.textCenter {
  text-align: center;
}

.wrapper {
  min-height: 100vh;
}

.section {
  margin: 0 auto;
  padding: 30px;
}

.sectionValores {
  max-width: 1028px;
  gap: 50px;
  margin-top: 40px;
  width: 100%;
}

.wrapper h1 {
  padding-top: 56px;
}