.textCenter {
  text-align: center;
}

.wrapper {
  gap: 85px;
  min-height: 100vh;
}

.section {
  margin: 0 auto;
  padding: 30px;
}

.sectionValores {
  max-width: 1028px;
  gap: 50px;
  margin-top: 30px;
  width: 100%;
}

.wrapper h1 {
  padding-top: 56px;
}

.wrapper h2 {
  margin-bottom: 10px;
}

.sectionCard {
  gap: 150px;
}

@media (max-width: 1225px) {
  .sectionCard {
    flex-direction: column;
    gap: 30px;
  }
}

.textSobre {
  max-width: 604px;
  width: 100%;
}

.textContent {
  gap: 20px;
}