@import "../../index.css";

.true, .false{
  background-color: var(--color-brand-3);
  font-family: var(--font-family-2);
  font-size: var(--font-size-5);
  font-weight: bold;
  border-radius: 16px;
  padding: 16px;
  width: fit-content;
}

.true {
  font-size: var(--font-size-4);
  font-weight: var(--weight-1);
}