:root {
  --color-brand-1: #BC54F0;
  --color-brand-2: #FFCF32;
  --color-brand-3: #3FB9FF;
  --color-brand-4: #F5487E;
  --color-brand-5: #73D676;
  --color-grey-0: #FFFFFF;
  --color-grey-1: #1C1C1C;

  --font-size-1: 48px; 
  --font-size-2: 40px; 
  --font-size-3: 28px; 
  --font-size-4: 23px; 
  --font-size-5: 19px; 
  --font-size-6: 16px; 

  --font-family-1: font-family: 'Baloo 2', cursive;
  --font-family-2: font-family: 'Montserrat', sans-serif;

  --weight-1: 600;
}

.container {
  max-width: 1240px;
  width: 100%;
}

.logo {
  width: 180px;
}