.main {
    padding: 80px 20px;
}

.titleWrapper {
    gap: 15px;
    margin-bottom: 70px;
}

.textoCard {
    gap: 46px;
    max-width: 600px;
    width: 100%;
}

.textoCard div {
    gap: 20px;
}

.titleWrapper p, .titleWrapper h2 {
    text-align: center;
}

.pageCard img {
    object-position: 50% 20%;
}

@media (max-width: 1225px) {
    .sectionConteudo {
      flex-direction: column;
      gap: 30px;
    }

    .textoCard {
        gap: 30px;
    }
}