@import url("../../index.css");

.headerDesktop {
  align-items: center;
  width: 100vw;
  min-height: 128px;
  background-color: var(--color-grey-1);
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  z-index: 100;
  padding: 20px;
}

.logoWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.logoWrapper img {
  padding-right: 46px;
}

.hamburguerButton {
  background-color: transparent;
  display: none;
  height: fit-content;
}

.menuNav {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.hidden {
  display: flex;
}

.list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.list li {
  font-size: var(--font-size-5);
  font-family: 'Baloo 2', cursive;
  color: #fff;
  cursor: pointer;
}

.menu {
  display: none;
  cursor: pointer;
  padding-inline: 40px;
}

@media (max-width: 1200px) {
  .headerDesktop {
    flex-direction: column;
  }

  .list {
    flex-direction: column;
  }

  .logoWrapper {
    width: 100%;
  }

  .logoWrapper img {
    padding: 0;
  }

  .hamburguerButton {
    display: block;
  }

  .hidden {
    display: none;
  }

  .menu {
    display: block;
  }
}
