@import url("../../index.css");

.headerDesktop {
  align-items: center;
  width: 100vw;
  background-color: var(--color-grey-1);
  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;
  z-index: 500;
}

.logoWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.logoImg {
  width: 180px;
  height: 114px;
  margin-right: 40px;
  cursor: pointer;
}

.hamburguerButton {
  background-color: transparent;
  display: none;
  height: fit-content;
}

.menuNav {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.hidden {
  display: flex;
}

.list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.list li {
  font-size: var(--font-size-5);
  font-family: var(--font-family-1);;
  color: #fff;
  cursor: pointer;
}

.menu {
  display: none;
  cursor: pointer;
  padding-inline: 40px;
}

.menuOpen {
  padding-bottom: 0px;   
}

@media (max-width: 1200px) {
  .headerDesktop {
    padding: 0 20px;
    flex-direction: column;
  }

  .list {
    flex-direction: column;
    padding: 40px 0;
  }

  .list li {
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .logoWrapper {
    width: 100%;
  }

  .logoWrapper img {
    padding: 0;
  }

  .hamburguerButton {
    display: block;
  }

  .hidden {
    display: none;
  }

  .menu {
    display: block;
  }
}