.logo {
  object-fit: contain;
  height: 100px;
  width: 160px;
}

.listIcons {
  gap: 10px;
}

.listIcons img {
  width: 48px;
}

.footerInnerContainer {
  max-width: 1163px;
  margin: 0 auto;
  width: 100%;
}