.logo {
  object-fit: contain;
  height: 100px;
  width: 160px;
}

.listIcons {
  gap: 10px;
}

.listIcons img {
  width: 48px;
}

.footerInnerContainer {
  max-width: 1163px;
  margin: 0 auto;
  gap: 50px;
  padding: 81px 30px;
  width: fit-content;
}

.contatoList {
  gap: 8px;
}

.emailWrapper {
  gap: 10px;
}

@media (min-width: 920px) {
  .footerInnerContainer {
    align-items: center;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }
}