.sectionWrapper {
  width: 100%;
}

.sectionTexto {
  gap: 30px;
  max-width: 552px;
  width: 100%;
}

.sectionTitulo {
  gap: 20px;
}

.sectionConteudo {
  padding: 80px 20px 0;
}

.sectionDepoimento > h2 {
  margin-bottom: 75px;
  text-transform: uppercase;
}

.sectionDepoimento button {
  margin-top: 56px;
}

.forma {
  width: 100%;
}

@media (max-width: 1225px) {
  .sectionConteudo {
    flex-direction: column;
    gap: 30px;
  }
}